body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #083241;
    --secondary-color: #178CB6;
    --prime-shade-1: #0D5068;
    --gray-1: #B6B8B9;
    --gray-2: #898C8D;
    --gray-3: #7F8384;
    --gray-4: #767A7B;
    --gray-5: #6D7172;
    --gray-6: #646768;
}

/*Reusable Styles*/

h1{
    font-size: 32px
}

.btn{
    width: 7rem;
    height: 2.5rem;

    background-color: var(--secondary-color);
    border: none;

    border-radius: 5px;
    cursor: pointer;

    color: white;
    font-weight: bold;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--prime-shade-1);
    color: white;
    font-size: 24;

    padding: 16px 32px;
}

nav > ul{
    display: flex;
    gap: 32px;

    list-style: none;
    text-decoration: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--gray-1);
}

nav > ul > li > a:hover{
    text-decoration: underline;
}

/*Hero Content*/

.hero{
    display: flex;
    gap: 5rem;
    align-items: center;

    background-color: var(--primary-color);
    color: white;
    padding: 7rem 10rem;

    height: 25vh;
}

.hero-right{
    width: 50%;
}

.hero-img{
    width: 25vw;
    height: auto;
}

/*Info Section*/

.info{
    text-align: center;
    padding: 0 3rem;
    padding-bottom: 3rem;
}

.info-header{
    font-size: 40px;
    color: var(--primary-color);
}

.info-cards{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 15%
}

.info-box{
    width: 10rem;
    height: 8rem;
    border: 5px solid var(--secondary-color);

    border-radius: 15px;
}

/*Review Section*/

